* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.05rem;
}

/*------------------NABVAR------------------*/

header {
    background-image: url(../assets/bkg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    font-weight: bold;
}

nav > img {
    width: 84px;
}

nav > div {
    justify-self: flex-end;
}

button {
    border: none;
    background: none;
    
}

a {
    text-decoration: none;
    font-weight:650;
    color: white;
}

#apply {
    background-color:lime;
}